<meta property="og:image" content="https://fanoa.net/FANOA-logo.png">
<meta property="og:image:width" content="855">
<meta property="og:image:height" content="270">

<meta name="twitter:image:src" content="https://fanoa.net/FANOA-logo.png">
<meta name="twitter:card" content="summary_large_image">

<!-- Site Favicon-->
<link rel="icon" type="image/svg+xml" href="https://fanoa.net/FANOA-icon.svg">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<style>
  * {font-family: 'Open Sans', sans-serif !important;} 
</style>
